<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Recommendations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body class="text-white">

    <nav class="navbar navbar-expand-lg bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/assets/logo.png" alt="Logo" height="50">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    
    <div class="container mt-5">
        <h1> <b>What do I wanna play next?</b></h1>
        <br>
        <p> Hey there, gamer! 🎮</p>
        
        <p>Ever had that moment when you've just completed an epic game, the credits are rolling, and you're left with that "Now what?" feeling? Or maybe you're just in a gaming slump, unsure of what to dive into next. We've all been there, and that's why "What do I wanna play next?" was born!</p>
            
        <p>Our mission? Simple. We want to help you discover your next gaming obsession. Think of us as that super-knowledgeable friend at a game store, but without the pressure to buy anything. (And hey, we won't judge you if you've never heard of that obscure indie title!)</p>
            
        <p>Using a blend of magic, algorithms, and a touch of pixie dust (okay, mostly algorithms... but we like to think there's some magic in there), we curate suggestions tailored just for you. Whether you're into sprawling RPGs, heart-pounding shooters, or calming indie gems, we've got something for every player out there.</p>
            
        <p>So go on, take the plunge, and let us guide you to your next virtual adventure. Happy gaming, and may your quests always be legendary!</p>
            
        <p>Cheers and game on! 🕹️ </p>
            
        <p> - The "What do I wanna play next?" Team </p>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>